// sassを導入すると、入れ子構造で書くことが出来る
.sidebar {
    // 要素(sidebar)をフレックスコンテナーとして定義
    // 親要素に対して子要素を横並びにする 
    display: flex;

    // 100%ある内の35%をサイドバーで使うとゆう意味
    flex: 0.3;

    // 高さをいっぱい（100%)使うとゆう意味
    height: 100vh;

    // 背景色を指定（後でホームに移動させる）
    // background-color: #33363d;
    
    .sidebarLeft {
        // 下記のflex-direction: columnが無ければ横並びになる
        display: flex;

        // column型にする事で縦になる
        flex-direction: column;

        // 交差軸に対して中央揃えにする
        align-items: center;

        // 背景色を設定
        background-color: #1a1c20;

        // 内側の余白を指定
        padding: 7px 15px;

        // 親
        .serverIcon {
            // 幅を60ピクセルに指定
            width: 60px;

            // 高さを60ピクセルに指定する
            height: 60px;

            // 背景色を灰色に指定
            background-color: #33363d;

            // 角を完全な円形にするため、border-radiusを大きな値で指定
            border-radius: 9999px;

            // 下部に10ピクセルの余白を設定
            margin-bottom: 10px;

            // 位置を相対的な位置に指定
            position: relative;

            // 上からの余白を空ける
            margin-top: 7px;

            img {
                // 親要素の左上隅からの位置ではなく、親要素を基準とした位置で指定
                position: absolute;

                // 幅を50ピクセルに指定
                width: 50px;

                // 上部を親要素の中央に揃え、50%を指定することで、親要素の高さの中央に配置されるようになる。
                top: 50%;

                // 左部を親要素の中央に揃え、50%を指定することで、親要素の幅の中央に配置されるようになる。
                left: 50%;

                // 幅と高さの50%ずつ左上に移動させることで、要素が中央に配置されるようになる。
                transform: translate(-50%, -50%);
            }
        }
    }

    .sidebarRight {
        // 背景色を指定
        background-color: #2b2d33;

        // 横幅を指定
        width: 300px;

        // ポジションの絶対値をサイドバーライトに合わせる
        position: relative;

        // 空いてる余白をいっぱい使ってるって意味、伸ばしてる
        flex-grow: 1;

        .sidebarTop {
            // 色を指定
            color: #ffffff;

            // 横並びに指定
            display: flex;

            // flexコンテナ内のアイテムを垂直方向（cross軸）に中央に揃える方法を指定
            align-items: center;

            // Flexboxを使ったレイアウトで、要素の間の余白を調整するために使用される。
            // Flexコンテナ内の要素をコンテナの両端に寄せるように配置し、要素間に均等な間隔を作成する。
            // つまり、最初と最後の要素はコンテナの端に、中間の要素は均等なスペースで配置される
            justify-content: space-between;

            // 内側の余白を指定
            padding: 20px;
        }

        .sidebarChannels {
            // 内側の余白を指定
            padding: 13px;

            .sidebarChannelsHeader {
                // 色を指定
                color: white;

                // 横並びに指定
                display: flex;

                // justify-content は、flexコンテナ内のアイテムを水平方向に配置する方法を指定するために使用される
                // space-between は、flexコンテナ内のアイテムを、各アイテムの間に均等な間隔を作成するように配置するための値
                // つまり、flexコンテナ内のアイテムが、最初のアイテムと最後のアイテムはそれぞれflexコンテナの左端と右端に配置され、残りのアイテムが均等な間隔で並ぶようになる
                justify-content: space-between;

                // flexコンテナ内のアイテムを垂直方向（cross軸）に中央に揃える方法を指定
                align-items: center;

                // 上の余白を指定
                margin-top: 5px;

                .sidebarHeader {
                    // 横並びに指定
                    display: flex;
                }

                .sidebarAddIcon {
                    // カーソルのポインターにする
                    cursor: pointer;
                }
            }
        }

        .sidebarFooter {
            // 絶対位置の基準点から一番下に指定
            // この場合ブラウザの左上が一番上の基点になる
            position: absolute;

            // 下からの配置位置（距離）を指定
            bottom: 0;

            // 横並びに指定
            display: flex;

            // 中央揃えに指定
            align-items: center;

            // flexアイテムの両端揃え
            justify-content: space-between;

            // 横幅を指定
            width: 93%;

            // 下側の高さを設定
            padding-bottom: 10px;

            // 上側の境界線を1本線で表示
            border-top: 1px solid #686a6e;

            // 上内側の余白を指定
            padding-top: 10px;
            
            // 左側のマージン領域を設定
            margin-left: -3px;

            .sidebarAccount {
                // 横並びに指定
                display: flex;
                
                // flexアイテムを縦軸で見たときに「上下のどこで揃えるか」を指定
                align-items: center;

                img {
                    // 横幅を指定
                    width: 60px;
                }

                .accountName {
                    // 左側のマージン領域を設定
                    margin-left: 5px;

                    h4 {
                        // 色を指定
                        color: white;

                        // 太さを指定
                        font-weight: 500px;
                    }

                    span {
                        // 色を指定
                        color: #686a6e;
                    }
                }
            }

            .sidebarVoice {
                // 横並び
                display: flex;

                // flexアイテムを縦軸で見たときに「上下のどこで揃えるか」を指定
                align-items: center;

                // 色を指定
                color: #686a6e;
            }
        }
    }
}