.login {
    // 横並び
    display: flex;

    // 縦並びに変更
    flex-direction: column;

    // flexアイテムの両端揃え
    justify-content: center;

    // 交差軸に対して中央揃えにする
    align-items: center;

    // 横幅を指定
    width: 100%;

    // 高さを指定
    height: 100vh;

    // 間隔を空ける
    gap: 30px;

    button {
        // 横幅を指定
        width: 200px;
    
        // 背景色を指定
        background-color: #738adb;

        // 色を指定
        color: #eff2f5;

        // フォントの太さを指定
        font-weight: 800;

        &:hover {
            // 背景色を指定
            background-color: black;

            // 色を指定
            color: #738adb;
        }
    }

    .loginLogo {
        img {
            // 制約されたエリアに対して画像をどうはめこむか
            // coverにすると、表示エリアになるべく余白なく画像を表示しようとし、はみ出してしまう部分はトリミングとゆう効果になる
            object-fit: cover;

            // 高さを指定
            height: 150px;
        }
    }
}